<header class="header">
<a href="/" class="header__icon">WordCraft</a>
<nav class="header__nav">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/admin">Sign In</a>
        </li>
    </ul>

</nav>

<div class="header__button">
    <button class="searchBTN" aria-expanded="false">
        Search
    </button>
</div>

</header>
