<div class="author">
    <h1 class="author">Hi, I am Mahmoud.</h1>
    <p class="author__body">ALX Student and Back-end Developer</p>
</div>
<img src="/img/author-img.png" alt="free falling" class="author__image" width="981" height="528">
<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(element => { %>
            <li>
                <a href="/post/<%= element._id %>">
                    <span><%= element.title %></span>
                    <span class="article-list__date"><%= element.CreatedAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
        
    </ul>
    

</section>
